.our-works {
  .container {
    position: relative;
  }
}

.section-description {
  @extend %section-description;
  margin-bottom: 44px;
  margin-left: 80px;
  line-height: 21px;
  //line-height: 1,9;
  color: $forth-text-color;

  &::before {
    position: absolute;
    top: 10px;
    left: 31px;
    content: '';
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.6);

    @media screen and (min-width: 768px) {
      left: 39px;
    }
    @media screen and (min-width: 1280px) {
      left: 55px;
    }
  }
}

.our-works-list {
  @extend %list;

  li:not(:last-child) {
    margin-bottom: 30px;
  }
  & .my {
    background-color: turquoise;
    width: 418px;
    height: 360px;
  }
}

@media screen and (min-width: 768px) {
  .our-works-list {
    display: flex;
    flex-wrap: wrap;

    & .my {
      width: 330px;
      height: 360px;
    }
  }

  li:nth-child(2n + 1) {
    margin-right: 30px;
  }
  li:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .our-works-list {
    flex-wrap: nowrap;

    & .my {
      width: 270px;
      height: 360px;
    }
  }

  li {
    margin-bottom: 0;
  }
  li:not(:last-child) {
    margin-right: 30px;
  }
}
