.hero {
  position: relative;
  display: flex;
  padding: 0;
  height: 580px;
  min-width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 481px) {
    height: 680px;
    // max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    // max-width: 1280px;
    display: flex;
  }
}

.hero-content {
  margin-top: 130px;

  @media screen and (min-width: 768px) {
    margin-top: 135px;
    margin-left: 96px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 160px;
    margin-left: 60px;
  }
}

.hero-description {
  position: relative;
  margin-left: 80px;
  margin-bottom: 20px;
  @extend %section-description;
  color: $hero-section-description-color;
}

.hero-description::before {
  content: '';
  position: absolute;
  left: -80px;
  top: 50%;
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  @extend %section-title;
  font-size: 72px;
  line-height: 1.18;
  color: #ffffff;
  margin-bottom: 20px;

  @media screen and (max-width: 1279px) {
    font-size: 48px;
    line-height: 1.16;
  }
}

.hero-description-text {
  @extend %description-text;
  color: $hero-description-text-color;

  @media screen and (max-width: 480px) {
    max-width: 306px;
    height: 78px;
  }

  @media screen and (min-width: 481px) {
    max-width: 355px;
    height: 52px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 400px;
    height: 62px;
  }

  @media screen and (max-width: 1280px) {
    font-size: 16px;
    line-height: 1.62;
  }
}

.slider-position {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 18px;
  height: 30px;
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .position {
    display: block;
    width: 8px;
    height: 2px;
    background-color: #9da4bd;

    &:hover,
    &:focus {
      width: 18px;
      background-color: #ffffff;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.slider-nav {
  display: none;

  @extend %section-description;
  color: $hero-section-description-color;

  &-previous:hover,
  &-previous:focus,
  &-next:hover,
  &-next:focus {
    color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 32%;
    margin-left: 73%;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    margin-top: 14%;
    margin-left: 83%;
  }

  &-previous {
    display: inline-block;
    width: 60px;
    height: 24px;
    text-align: left;
    margin-right: 26px;

    &:hover,
    &:focus {
      &::after {
        content: '';
        display: inline-block;
        height: 1px;
        width: 60px;
        background-color: #ffffff;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 60px;
      background-color: rgba(157, 164, 189, 0.6);
    }
  }

  &-next {
    display: inline-block;
    width: 60px;
    height: 24px;
    text-align: right;

    &:hover,
    &:focus {
      &::after {
        content: '';
        display: inline-block;
        height: 1px;
        width: 60px;
        background-color: #ffffff;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 60px;
      background-color: rgba(157, 164, 189, 0.6);
    }
  }
}

// Стили для сайдбара

.hero-aside {
  width: 159px;
  background-color: $main-bg-color;
  text-align: center;

  padding: 32px 30px 40px 39px;

  @media screen and(max-width: 767px) {
    display: none;
  }
  @media screen and(min-width: 1200px) {
    width: 155px;
    padding: 32px 31px 40px 55px;
  }

  .aside-list {
    @extend %list;

    position: relative;
    top: 79%;
    line-height: 1.36;
    letter-spacing: 0.2em;
    font-size: 11px;
    color: $forth-text-color;

    @media screen and(min-width: 768px) {
      display: flex;
      align-items: center;

      transform: rotate(-90deg);
      padding-left: 40px;
    }

    &-item {
      a {
        color: inherit;
      }
      &:first-child {
        display: flex;
        align-items: center;
      }
      &:not(:last-child) {
        margin-right: 40px;
      }
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}

.line {
  width: 60px;
  height: 1px;
  background-color: $forth-text-color;
  margin-right: 40px;
}
