.hero {
  display: flex;
  padding: 0;
  height: 580px;
  max-width: 1280px;
  margin: 0 auto;

  @media screen and (min-width: 481px) {
    height: 680px;
  }
}

.hero-content {
  margin-top: 232px;
}

.hero-description {
  position: relative;
  margin-left: 80px;
  margin-bottom: 20px;
  @extend %section-description;
  color: $hero-section-description-color;
}

.hero-description::before {
  content: '';
  position: absolute;
  left: -80px;
  top: 50%;
  display: inline-block;
  height: 1px;
  width: 60px;
  background-color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  @extend %section-title;
  font-size: 72px;
  line-height: 1.18;
  color: #ffffff;
  margin-bottom: 20px;

  @media screen and (max-width: $desktop-lower) {
    font-size: 48px;
    line-height: 1.16;
  }
}

.hero-description-text {
  @extend %description-text;
  color: $hero-description-text-color;

  @media screen and (max-width: $mobile) {
    width: 306px;
    height: 78px;
  }

  @media screen and (min-width: $tablet-lower) {
    width: 355px;
    height: 52px;
  }

  @media screen and (min-width: $desktop-lower) {
    width: 486px;
    height: 62px;
  }

  @media screen and (max-width: $desktop-lower) {
    font-size: 16px;
    line-height: 1.62;
  }
}

.slider-position {
  text-align: right;
  position: absolute;
  top: 50%;
  right: 0;
  width: 18px;
  height: 30px;
  display: none;

  @media screen and (min-width: $tablet-lower) {
    display: block;
  }

  .position {
    display: block;
    width: 8px;
    height: 2px;
    background-color: #9da4bd;

    &.curent {
      width: 18px;
      background-color: #ffffff;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.slider-nav {
  display: none;

  @extend %section-description;
  color: $hero-section-description-color;

  &-previous:hover,
  &-previous:focus,
  &-next:hover,
  &-next:focus {
    color: #ffffff;
  }

  @media screen and (min-width: $tablet-lower) {
    display: flex;
    margin-top: 47%;
    margin-left: 67%;
  }

  @media screen and (min-width: $desktop-upper) {
    display: flex;
    margin-top: 19%;
    margin-left: 82%;
  }

  &-previous {
    display: inline-block;
    width: 60px;
    height: 24px;
    text-align: left;
    margin-right: 26px;

    &::after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 60px;
      background-color: rgba(157, 164, 189, 0.6);
    }
  }

  &-next {
    display: inline-block;
    width: 60px;
    height: 24px;
    text-align: right;

    &::after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 60px;
      background-color: rgba(157, 164, 189, 0.6);
    }
  }
}

// Стили для сайдбара

.hero-aside {
  width: 159px;
  background-color: $main-bg-color;

  @media screen and(max-width: 767px) {
    display: none;
  }
  @media screen and(min-width: 1200px) {
    width: 155px;
  }
  .aside-list {
    @extend %list;

    position: relative;
    top: 85%;

    line-height: 1.36;
    letter-spacing: 0.2em;
    font-size: 11px;
    color: $forth-text-color;

    @media screen and(min-width: 768px) {
      display: flex;
      align-items: center;

      transform: rotate(-90deg);
      padding-left: 40px;
    }

    // &:before {
    //   content: '';
    //   display: block;
    //   background-image: url('../../../images/svg/line.svg');
    //   //   background-color: $forth-text-color;
    //   width: 60px;
    //   height: 1px;
    //   margin-right: 40px;
    //   transform: rotate(-90deg);
    // }

    &-item {
      a {
        color: inherit;
      }
      &:first-child {
        display: flex;
        align-items: center;
      }
      &:not(:last-child) {
        margin-right: 40px;
      }
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}

.line {
  width: 60px;
  height: 1px;
  background-color: $forth-text-color;
  margin-right: 40px;
}
