.our-prices .container {
  padding: 84px 31px;
  background-color: $prices-bg-color;
  background-image: url('../images/Ourprices/bgimage-prices.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-prices .section-description {
  @extend %section-description;
  color: $hero-section-description-color;
  position: relative;
  padding-left: 80px;

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $hero-section-description-color;
  }
}

.our-prices .section-title {
  @extend %section-title;
  color: $third-text-color;
  margin-top: 20px;
  margin-bottom: 44px;
}

.pricelist {
  background: $prices-list-bg-color;
}

.pricelist-first {
  @extend %list;
  padding: 30px 30px 0 30px;

  & .pricelist-item {
    margin-bottom: 20px;
  }
}

.pricelist-second {
  @extend %list;
  padding: 0 30px 30px 30px;

  & .pricelist-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.pricelist-item {
  display: flex;
  align-items: baseline;

  font-weight: normal;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: $hero-description-text-color;
}

.pricelist-line {
  flex-grow: 1;
  height: 1px;
  margin: 0 6px;
  background-color: rgba(157, 164, 189, 0.12);
  transform: translateY(4px);
}

.pricelist-button {
  margin-top: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
