.container-contacts {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
}

//Sing-up form
.signup-form {
    background-color: #191C26;
    width: 100%;
    height: 557px;
    padding-left: 13%;
    padding-right: 13%;

    .signup-title {
        padding-top: 84px;
        padding-bottom: 45px;

        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.05em;

        color: $third-text-color;
    }
    .form-input {
        width: 100%;
        margin-bottom: 44px;
        padding-bottom: 8px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 1px ridge rgba(157, 164, 189, 0.4);
        background:  #191C26;

        &:hover,
        &:focus {
            cursor: pointer;;
            border-top: 0;
            border-right: 0;
            border-bottom: 1px ridge #FFFFFF;
            outline: none;
            color:  #FFFFFF;
        }
    }

    .button {
        margin-top: 44px;
        display: block;
        margin: 0 auto; 

        &:focus,
        &:hover {
            background:#ff6c00; 
        }
    }
}

.form-input {
    &::placeholder {
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 1.4;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: rgba(157, 164, 189, 0.4);
    }

    &.user-comment {
        resize: none;
    } 
}

.form-input:focus,
.form-input:hover {
    &::placeholder {
        color: #FFFFFF;;
    }
}

.form-input {
    &:not(:focus) {
        &:not(:placeholder-shown) {
            color: #FFFFFF;;
        }
    }
}

//Contacts
.communication {
    width: 100%;
    height: 496px;
    padding-top: 84px;
    padding-bottom: 84px;
    padding-left: 13%;
    padding-right: 13%;
    
    background-color: #191C26;
    background-image: url('../images/contacts.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    &-title {
        padding-bottom: 45px;

        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.05em;

        color: #FFFFFF;
    }

    .contacts-list {
        margin-bottom: 44px;
        padding-left: 0;

        &-item {
            display: block;
            margin-bottom: 20px;
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 1.7;
            letter-spacing: 0.02em;
            color: #9DA4BD;

            &:nth-child(3n) {
                margin-right: 0;
            }  
        }
    }
}

.contacts-list-item {
    a {
        color: #9DA4BD;

        &.email {
            text-decoration: underline;
        }

        &:focus,
        &:hover {
            color: white;
            --color1: white;
        }
    }

    .icon {
        position: relative;
        top: 5px;
        height: 24px;
        width: 24px;
        margin-right: 5px;
    }

    .address-block {
        font-style: normal;
    }
}

.schedule {
    &-title {
        position: relative;
        left: 75px;
        font-family: Open Sans;
        font-style: normal;
        font-size: 11px;
        line-height: 1.4;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;   
        &::before {
            content: "";
            position: absolute;
            left: -75px;
            top: 50%;
            display: inline-block;
            height: 1px;
            width: 60px;
            background-color: rgba(157, 164, 189, 0.6);
        }
    }

    &-details {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: 0.02em;

        color: #9DA4BD;
    }
}

@media screen  and (min-width: 481px) {
    .signup-form {
        .signup-title {
            text-align: left;
        }
    }

    .subscription-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .form-input {
            width: calc(50% - 15px);

            &.user-comment {
                width: 100%;
            }
        }

        .button {
            margin: 0; 
        }
    }

    .communication {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;

        &-title {
            width: 100%;
            text-align: left;
        }
    }

    .contacts-list,
    .schedule {
        width: calc(50% - 50px);
    }

    .schedule {
        margin-top: 20px;
    }
}

@media screen and (min-width: 769px) {
    .container-contacts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 130px;
    }

    .signup-form,
    .communication {
        width: 50%; 
        height: 644px;
        padding-left: 4%;
        padding-right: 4%;
    }

    .contacts-list {
        display: block;
    }
    
    .schedule {
        width: 100%;
    }
}