<section class="about-us" id="about-us">
  <div class="container">
    <ul class="about-us-list">
      <li class="about-us-item"><img src="" alt="Фото о нас" /></li>
      <li class="about-us-item"><img src="" alt="Фото о нас" /></li>
    </ul>
    <div>
      <p class="section-description">О НАС</p>
      <h2 class="section-title">Лучший Барбершоп твоего города</h2>
      <p class="description-text">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
        нам.
      </p>
      <p class="description-subtext">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет
        перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
        сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
        волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
        приходит!
      </p>
      <a class="button light" href="#subscription-form">ОНЛАЙН-ЗАПИСЬ</a>
    </div>
  </div>
</section>
