<section class="our-works">
  <div class="container">
    <p class="section-description">
      НА ЛАТИНСКОМ "БАРБА" ОЗНАЧАЕТ "БОРОДА"
    </p>
    <ul class="our-works-list">
      <li>
        <!-- <picture>
          <source
            srcset="
                      ./images/Ourworks/photo1-***w.webp    ***w,
                      ./images/Ourworks/photo1-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(min-width: 1200px)"
            sizes="***px"
          />
          <source
            srcset="
                      ./images/Ourworks/photo1-***w.jpg    ***w,
                      ./images/Ourworks/photo1-***w@2x.jpg ***w
                    "
            media="(min-width: 1200px)"
            sizes="***px"
          />

          <source
            srcset="
                      ./images/Ourworks/photo1-***w.webp    ***w,
                      ./images/Ourworks/photo1-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="***px"
          />
          <source
            srcset="
                      ./images/Ourworks/photo1-***w.jpg    ***w,
                      ./images/Ourworks/photo1-***w@2x.jpg ***w
                    "
            media="(min-width: 768px)"
            sizes="***px"
          />

          <source
            srcset="
                      ./images/Ourworks/photo1-***w.webp    ***w,
                      ./images/Ourworks/photo1-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <source
            srcset="
                      ./images/Ourworks/photo1-***w.jpg    ***w,
                      ./images/Ourworks/photo1-***w@2x.jpg ***w
                    "
            media="(max-width: 767px)"
          />

          <img src="./images/Ourworks/photo1-***w.jpg" alt="Фото наших работ" />
        </picture> -->
      </li>
      <li>
        <!-- <picture>
          <source
            srcset="
                      ./images/Ourworks/photo2-***w.webp    ***w,
                      ./images/Ourworks/photo2-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(min-width: 1200px)"
            sizes="***px"
          />
          <source
            srcset="
                      ./images/Ourworks/photo2-***w.jpg    ***w,
                      ./images/Ourworks/photo2-***w@2x.jpg ***w
                    "
            media="(min-width: 1200px)"
            sizes="***px"
          />

          <source
            srcset="
                      ./images/Ourworks/photo2-***w.webp    ***w,
                      ./images/Ourworks/photo2-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="***px"
          />
          <source
            srcset="
                      ./images/Ourworks/photo2-***w.jpg    ***w,
                      ./images/Ourworks/photo2-***w@2x.jpg ***w
                    "
            media="(min-width: 768px)"
            sizes="***px"
          />

          <source
            srcset="
                      ./images/Ourworks/photo2-***w.webp    ***w,
                      ./images/Ourworks/photo2-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <source
            srcset="
                      ./images/Ourworks/photo2-***w.jpg    ***w,
                      ./images/Ourworks/photo2-***w@2x.jpg ***w
                    "
            media="(max-width: 767px)"
          />

          <img src="./images/Ourworks/photo2-***w.jpg" alt="Фото наших работ" />
        </picture> -->
      </li>
      <li>
        <!-- <picture>
          <source
            srcset="
                      ./images/Ourworks/photo3-***w.webp    ***w,
                      ./images/Ourworks/photo3-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(min-width: 1200px)"
            sizes="***px"
          />
          <source
            srcset="
                      ./images/Ourworks/photo3-***w.jpg    ***w,
                      ./images/Ourworks/photo3-***w@2x.jpg ***w
                    "
            media="(min-width: 1200px)"
            sizes="***px"
          />

          <source
            srcset="
                      ./images/Ourworks/photo3-***w.webp    ***w,
                      ./images/Ourworks/photo3-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="***px"
          />
          <source
            srcset="
                      ./images/Ourworks/photo3-***w.jpg    ***w,
                      ./images/Ourworks/photo3-***w@2x.jpg ***w
                    "
            media="(min-width: 768px)"
            sizes="***px"
          />

          <source
            srcset="
                      ./images/Ourworks/photo3-***w.webp    ***w,
                      ./images/Ourworks/photo3-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <source
            srcset="
                      ./images/Ourworks/photo3-***w.jpg    ***w,
                      ./images/Ourworks/photo3-***w@2x.jpg ***w
                    "
            media="(max-width: 767px)"
          />

          <img src="./images/Ourworks/photo3-***w.jpg" alt="Фото наших работ" />
        </picture> -->
      </li>
      <li>
        <!-- <picture>
          <source
            srcset="
                      ./images/Ourworks/photo4-***w.webp    ***w,
                      ./images/Ourworks/photo4-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(min-width: 1200px)"
            sizes="***px"
          />
          <source
            srcset="
                      ./images/Ourworks/photo4-***w.jpg    ***w,
                      ./images/Ourworks/photo4-***w@2x.jpg ***w
                    "
            media="(min-width: 1200px)"
            sizes="***px"
          />

          <source
            srcset="
                      ./images/Ourworks/photo4-***w.webp    ***w,
                      ./images/Ourworks/photo4-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(min-width: 768px)"
            sizes="***px"
          />
          <source
            srcset="
                      ./images/Ourworks/photo4-***w.jpg    ***w,
                      ./images/Ourworks/photo4-***w@2x.jpg ***w
                    "
            media="(min-width: 768px)"
            sizes="***px"
          />

          <source
            srcset="
                      ./images/Ourworks/photo4-***w.webp    ***w,
                      ./images/Ourworks/photo4-***w@2x.webp ***w
                    "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <source
            srcset="
                      ./images/Ourworks/photo4-***w.jpg    ***w,
                      ./images/Ourworks/photo4-***w@2x.jpg ***w
                    "
            media="(max-width: 767px)"
          />

          <img src="./images/Ourworks/photo4-***w.jpg" alt="Фото наших работ" />
        </picture> -->
      </li>
    </ul>
  </div>
</section>
