<section class="hero">
  <div class="container for-hero">
    <div class="hero-content">
      <p class="section-description">A HAIR SALON FOR MAN IN KYIV</p>
      <h1 class="section-title">BarberShop</h1>
      <p class="description-text">
        Мы эксперты в модных мужских стрижках.<br />Работаем быстро, осторожно и
        со вкусом.
      </p>
    </div>
    <div class="slider-position">
      <span class="position curent"></span>
      <span class="position"></span>
      <span class="position"></span>
    </div>
    <div class="slider-nav">
      <div class="slider-nav-previous">Назад</div>
      <div class="slider-nav-next">Вперед</div>
    </div>
  </div>
</section>
