<section class="Hero">
  <div class="container">
    <p class="section-description">A HAIR SALON FOR MAN IN KYIV</p>
    <h1 class="section-title">BarberShop</h1>
    <p class="description-text">Мы эксперты в модных мужских стрижках.</p>
    <p class="description-text">
      Работаем быстро, осторожно и со вкусом.
    </p>
    <ul class="slider-position">
      <li class="position curent">--</li>
      <li class="position">-</li>
      <li class="position">-</li>
    </ul>
    <ul class="slider-nav">
      <li class="slider-nav-item">Назад</li>
      <li class="slider-nav-item">Вперед</li>
    </ul>
  </div>
</section>
