<section class="our-prices" id="prices">
  <div class="container">
    <p class="section-description">
      ПРОВЕДИ ВРЕМЯ В КОМПАНИИ ЛУЧШИХ МАСТЕРОВ
    </p>
    <h2 class="section-title">Услуги и цены</h2>
    <ul class="our-prices-list">
      <li class="price-list-1">
        <ul>
          <li>Мужская стрижка ___________________ от 300 грн.</li>
          <li>Стрижка бороды ____________________ от 200 грн.</li>
          <li>Стрижка усов ______________________ от 200 грн.</li>
          <li>Бритье опасной бритвой ____________ от 200 грн.</li>
        </ul>
      </li>
      <li class="price-list-2">
        <ul>
          <li>Стрижка у стажера _________________ от 50 грн.</li>
          <li>Стрижка под насадку ______________ от 200 грн.</li>
          <li>Детская стрижка (до 12 лет) ______ от 300 грн.</li>
          <li>Камуфлирование седины ____________ от 200 грн.</li>
        </ul>
      </li>
    </ul>
    <a class="button main" href="#subscription-form">ОНЛАЙН-ЗАПИСЬ</a>
  </div>
</section>
