<section class="contacts" id="contacts">
  <div class="container">
    <form class="subscription-form" id="subscription-form">
      <p>Онлайн-запись</p>
      <input class="form-input" type="text" placeholder="ИМЯ*" required />
      <input class="form-input" type="tel" placeholder="ТЕЛЕФОН*" required />
      <label for="form-message">Сообщение</label>
      <input class="form-input" type="text" id="form-message" />
      <button class="button main" type="submit">ОТПРАВИТЬ</button>
    </form>
    <div class="contacts">
      <ul class="contacts-list">
        <li class="contacts-list-item">ул. Васильковая, 7А Киев, 08132</li>
        <li class="contacts-list-item">
          <a href="tel:+380441111111">+38 044 111 11 11</a>
        </li>
        <li class="contacts-list-item">
          <a href="mailto:barbershop@email.com">barbershop@email.com</a>
        </li>
      </ul>
      <p>ВРЕМЯ РАБОТЫ</p>
      <p>Ежедневно с 9:00 до 22:00</p>
    </div>
  </div>
</section>
