<section class="our-team" id="our-team">
  <div class="container my">
    <p class="section-description">ДЛЯ НАСТОЯЩИХ ЦЕНИТЕЛЕЙ АТМОСФЕРЫ</p>
    <h2 class="section-title">Наши мастера</h2>
    <ul class="team-list">
      <li class="team-item">
        <div class="team-photo my">
          <picture>
            <source srcset="" type="image/webp" />
            <img
              srcset="
                ./images/Team/master1/mobile1.jpg   480w,
                ./images/Team/master1/tablet1.jpg   768w,
                ./images/Team/master1/desktop1.jpg 1200w
              "
              src="./images/Team/master1/mobile1.jpg"
              alt="Фото"
          /></picture>
        </div>
        <div class="team-item-info">
          <h3 class="item-title" lang="en">John Smith</h3>
          <p class="item-description" lang="en">Extreme Barber</p>
          <ul class="social-list my">
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo my" width="44" heith="44">
                  <use href="./images/icons.svg#social-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" heith="44">
                  <use href="./images/icons.svg#social-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" heith="44">
                  <use href="./images/icons.svg#social-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo my" width="44" heith="44">
                  <use href="./images/icons.svg#social-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-photo">
          <picture>
            <img
              srcset="
                ./images/Team/master2/mobile2.jpg   480w,
                ./images/Team/master2/tablet2.jpg   768w,
                ./images/Team/master2/desktop2.jpg 1200w
              "
              src="./images/Team/master2/mobile2.jpg"
              alt="Фото"
          /></picture>
        </div>
        <div class="team-item-info">
          <h3 class="item-title" lang="en">Michele Doe</h3>
          <p class="item-description" lang="en">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" heith="44">
                  <use href="./images/icons.svg#social-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" heith="44">
                  <use href="./images/icons.svg#social-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" heith="44">
                  <use href="./images/icons.svg#social-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" heith="44">
                  <use href="./images/icons.svg#social-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <div class="team-photo">
          <picture
            ><img
              srcset="
                ./images/Team/master3/mobile3.jpg   480w,
                ./images/Team/master3/tablet3.jpg   768w,
                ./images/Team/master3/desktop3.jpg 1200w
              "
              src="./images/Team/master3/mobile3.jpg"
              alt="Фото"
            />
          </picture>
        </div>
        <div class="team-item-info">
          <h3 class="item-title" lang="en">Alan Black</h3>
          <p class="item-description" lang="en">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" heith="44">
                  <use href="./images/icons.svg#social-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" heith="44">
                  <use href="./images/icons.svg#social-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" heith="44">
                  <use href="./images/icons.svg#social-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a class="social-item-link" href="#">
                <svg class="social-logo" width="44" heith="44">
                  <use href="./images/icons.svg#social-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
